@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');:root{


    --color-primario: #ffffff;
    --color-secundario: #663da3;
    --color-terciario: #4d60f7;
    --color-title: #8FE3CF;
    --color-claro: #FEFEFE;
    --font-primary: "Roboto, sans-serif";
    --font-secondary: 'Kanit', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--color-primario);
    font-family: var(--font-secondary);
}
body {
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    font-family: var(--font);
}
H2 {
    font-family: 'Kanit', sans-serif;
}
/*- - - - - B O X S H A D O W - - - - -*/
.main__container .main__card-presentation,
.main__container .card__aboutme,
.main__container .study__cards .study__card-left,
.skills .skill__container,
.contacto .contacto__container
    {
    border-radius: 30px;
background: #ffffff;
box-shadow:  -4px 4px 11px #969696,
             6px -6px 11px #ffffff;

}
.study__card {
    border-radius: 50px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
h2{
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-terciario);
    margin: 5rem 0;
    text-align: center;
}

/*- - - - B O T O N E S - - - -*/
.btn {
    width: aut;
    height: 3rem;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: var(--color-terciario);
    color: var(--color-primario);
}

.btn:hover {
    background-color: var(--color-primario);
    color: var(--color-terciario);
    border: 1px solid var(--color-terciario);
    transition: 0.5s ease-in-out;
}

/*- - - - H E A D E R  - - - */
.header {
    width: 100%;
    height: 4rem;
    /* background-color: var(--color-terciario); */
    background: rgb(16,0,255);
    background: linear-gradient(3deg, rgba(16,0,255,0.7259278711484594) 0%, rgba(239,0,255,1) 100%);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar {
    width: 100%;
    height: 3rem;
}
.header .navbar .navbar__items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header .navbar .navbar__items li {
    list-style: none;
}
.header .navbar .navbar__items a {
    text-decoration: none;
    color: var(--color-primario);
    font-size: 1.8rem;
    font-family: 'Kanit', sans-serif;
}
.header .navbar .navbar__items a .nav__icon {
    display: none;
}
.header .navbar .navbar__items li:hover {
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
    background: none;
}


.header #icon-menu {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    color: var(--color-primario);
    display: none;
}
/*- - - - -  M A I N - - - - -*/

.main__container {
    width: 100%;
    margin: 0 auto;
    margin-top: 7rem;

}
.main__container .main__card-presentation {
    max-width: 90rem;
    min-width: 30rem;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 0 auto;
    margin-bottom: 7rem;

}
.main__container .main__card-presentation .card__left {
    width: auto;
    min-width: 25rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main__container .main__card-presentation .card__left span {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-terciario);
    margin-top: 1rem;
    text-align: center;
}
.main__container .main__card-presentation .card__left h1 {
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;

}
.main__container .main__card-presentation .card__left h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    color: var(--color-terciario);
    text-align: center;
    margin-bottom: 2rem;

}

.main__container .card__right {
    max-width: 35rem;
    min-width: 25rem;
    height: auto;
    margin: 0 auto;
    border-radius: 5rem;
    overflow: hidden;
}
.main__container .card__right img {
    width: 100%;
    height: auto;
    overflow: hidden;

}

/*- - - - - C A R D   A B O U T M E - - - - - */
.main__container .card__aboutme {
    max-width: 80rem;
    min-width: 30rem;
    width: 80%;
    height: auto;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main__container .card__aboutme h2 {
    margin: 2rem;
}
.main__container .card__aboutme .card__info {
    width: 90%;
    margin-bottom: 2rem;
}

/*- - - - - E S T U D I O - - - - - */

.main__container .study__cards {
    width: 80%;
    height: auto;
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 7rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 auto;
}
.study__cards .study__card {
    min-width: 20rem;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    margin: 0 auto;
}
.study__cards .study__card .card__top {
    display: flex;
    flex-direction: row;
    flex: auto;
    padding: 1rem;
    margin: 0 auto;
}
.study__cards .study__card .card__top img {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin-right: 1rem;
}
.study__cards .study__card .card__top .data{
    text-align: justify;
}
.study__cards .study__card .card__top .data p {
    font-weight: bold;
    color: var(--color-terciario);
}
.study__cards .study__card .card__bot {
    margin-bottom: 1rem;
}
.study__cards .study__card .card__bot p {
    text-align: justify;
    padding: 1.5rem;
    line-height: 1.9rem;
}
.study__cards .study__card .btn {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 2rem;
}


/*- - - - - P R O Y E C T O S - - - - - */

#proyectos {
    /* position: fixed; */
    position: relative;
    bottom: -8rem;
    font-size: 4rem;
    animation: t1 3s ease infinite;
    color: rgb(253, 252, 253);
    text-shadow: 0px 2px 14px rgba(0,0,0,0.8);
}
@keyframes t1 {
    0% {
        /* transform: translate(0); */
        transform: scale(0.8);
    }
    50% {
        /* transform: translateY(20px); */
        transform: scale(1);
    }
    100% {
        /* transform: translateY(0) */
        transform: scale(0.8);
    }
}
.main__container .proyectos {
    width: 100%;
    /* padding: 1rem; */
    height: auto;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat( auto-fit, minmax(50rem, 1fr) );
    grid-template-rows: auto;
    place-items: center;
    padding: 5rem 0;
    /* background-color: rgb(180, 83, 167); */
    background: rgb(16,0,255);
    background: linear-gradient(3deg, rgba(16,0,255,0.7259278711484594) 0%, rgba(239,0,255,1) 100%);
}
.proyectos .proyectos__card {
    width: 80%;
    height: 100%;
    min-width: 20rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}
.proyectos__card:hover{
    transform: translateY(-10px);
}
.proyectos__card:hover .proyecto__img img {
transform: scale(1.1);
}
.proyectos__card .proyecto__img {
    width: 90%;
    height: 100%;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-top: 1rem;
    overflow: hidden;
}
.proyectos__card .proyecto__img img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    transition: all 300ms;
}
.proyectos__card .proyecto__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.proyecto__info h3{
    color: #fcfcfc;
    /* background-color: #ffffff62; */
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.proyectos__card .proyecto__info h4 {
    color: #ecde18;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.8rem;
    font-weight: bold;
}
.proyectos hr {
    width: 90%;
    border-top: 2px solid #fff;
    margin-bottom: 1rem;
}
.proyecto__info p {
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
}
.proyecto__info .botones {
    display: flex;
}
.proyecto__info .botones a{
    margin: 1rem;
}
.proyectos .btn__proyecto {
    background-color: yellow;
    color: #663da3;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}
.proyectos .btn__proyecto:hover {
    background-color: #663da3;
    color: yellow;
    border: none;
}

/*---CONYWEB---*/

.proyecto__img--conyweb {
    margin: 0 auto;
    margin-top: 2rem;
    margin-top: 1rem;
}
.proyecto__img--conyweb img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    /* border-radius: 5rem; */
}

/*- - - - - - H A B I L I D A D E S - - - - - -*/
.habilidades {
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    grid-template-rows: auto;
    gap: 3rem;
    margin: 0 auto;
    margin-bottom: 20rem;
}
.habilidades .habilidad {
    width: 30%;
    min-width: 20rem;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.habilidades .habilidad figure {
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.habilidades .habilidad figure img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.habilidades .habilidad h3 {
    margin: 0 auto;
    color: var(--color-terciario);
}


/*- - - - - C O N T A C T O   - - - - -*/

.contacto {
    height: auto;
    width: 100%;
    margin-bottom: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem,1fr));
    grid-auto-rows: auto;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.contacto .contacto__container {
    width: 90%;
    height: 15rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.contacto .contacto__container .contacto__img {
    width: 6rem;
    height: 8rem;
    border-radius: 1rem;

}

.contacto .contacto__container .contacto__img img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.contacto .contacto__container .contacto__info {
    height: 8rem;
    margin-left: 2rem;
    gap: 2rem;
}

.contacto .contacto__container .contacto__info h4 {
    font-size: 1.9rem;
    font-family: var(--font-secondary);
    font-weight: bold;
    color: var(--color-terciario);
    margin-bottom: 3rem;
}

.contacto .contacto__container .contacto__info a {
    margin-top: 3rem;
}

.contacto button{
    width: auto;
}

/* - - - B O T O N D E S U B I R - - -*/

.go-top-container {
    position: fixed;
    bottom: -3rem;
    right: -3rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: var(--color-terciario);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 4.6rem;
    height: 4.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);

}

@keyframes popup{
    0% {
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}


/*- - - -- - F O O T E R - - - - - -*/

footer {
    width: 100%;
    height: 6rem;
    background: var(--color-terciario);
}
footer a {
    height: 100%;
    width: auto;
}
footer div {
    width: auto;
    height: 100%;
    padding: 0.5rem;
}

footer div figure {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div figure img {
    height: 100%;
}


p {
    line-height: 2.5rem;
}



@media only screen and (max-width: 720px) {
    .main__container .main__card-presentation {
        grid-template-columns: 1fr;
        width: 80%;
    }
    .header .navbar .navbar__items a .nav__icon {
        display: block;
    }
    .header .navbar .navbar__items a .nav__text {
        display: none;
    }
    .main__container .proyectos {
        grid-template-columns: 1fr;
    }
    
}


@media only screen and (max-width: 350px) {
.contacto .contacto__container {
    flex-direction: column;
    text-align: center;
}
.contacto .contacto__container .contacto__info h4 {
    margin-top: 2rem;
}
.contacto .contacto__container {
    width: 25rem;
    height: 25rem;
    padding: 2rem;
}
}
