@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    position: relative;
    transition: all 400ms ease-in-out;
}
body.dark {
    /* background-color: #343D58; */
    background-color: rgb(32, 32, 32);

}
:root {
    --font-title:'Raleway', sans-serif;
    --purpura: #7142de;
    --purpura-oscuro: #47219e;
    --white: #fff;
}
button {
    cursor: pointer;
}
.btn {
    margin-top: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    color: var(--purpura);
    border: 2px solid var(--purpura);
    border-radius: 1rem;
}
.title {
    font-family: var(--font-title);
    color: var(--purpura);
    font-size: 4rem;
    text-align: center;
}
body.dark .title {
    color: var(--white);
    color: #ffffff;
}
.container {
    width: 100%;
}
.shadow1 {
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.63);
-webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.63);
-moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.63);
}

/* - - - - - - N A V - - - - - -  */
body.dark nav {
    background-color: var(--purpura-oscuro);
    color: white;
}
body.dark nav .nav-botones button{
    background-color: var(--purpura);
    color: var(--white);
    border-radius: 0.5rem;
}
nav {
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(179, 176, 176, 0.479);
    position: fixed;
    top: 0;
    background-color: var(--white);
    border: none;
    z-index: 4;
}
nav .nav-logo {
    height: 100%;
    width: auto;
}
nav .nav-logo img {
    height: 50%;
    transform: translateY(50%);
}
nav .nav-logo a {
    text-decoration: none;
}
nav .nav-logo a span {
    color: var(--purpura);
    display: none;
}
nav .nav-botones {
    
}
nav .nav-botones button, a{
    padding: 0.7rem 1.3rem;
    font-family: var(--font-title);
    font-weight: bold;
    border: none;
    text-decoration: none;
}
body.dark nav .nav-botones button, a {
    color: white;
}
nav .nav-botones button, a {
    color: var(--purpura-oscuro)}

nav .nav-herramientas button{
    padding: 1rem;
    border-radius: 100%;
    border: none;
}
/*ENGLIGH*/
nav .idioma {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid black; */
    /* overflow: hidden; */
}
nav .idioma a {
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
}
body.dark nav .idioma a {
    color: white;
}
nav .idioma a img {
    width: 25px;
    margin-right: 4px;
}
/*- - - - - - S W I T C H - - - - - */
nav .switch {
    background-color: #343D58;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}
nav .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}
nav .idioma .en {
    color:#333;
}
nav .idioma .es {
    color:#00a1ff;
}
nav .idioma .check {
    position: relative;
    width: 50px;
}
nav .idioma .check:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background:#333;
    border-radius: 25px;
};
nav .idioma .check:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}
nav .idioma .check:checked:after {
    left: 25px;
    border: 2px solid #00a1ff;
}

nav .idioma .check:checked:before {
    background: #00a1ff
}




.switch::after {
    content:"";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
.switch.active {
    background: orange;
    color: black;
}
.switch.active::after {
    right: 0;
    left: unset;
}
/*- - - - - - H E A D E R - - - - - - */
header .header-info {
    width: 95%;
    height: auto;
    padding-bottom: 4rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .header-info h2 {
    font-family: var(--font-title);
    font-size: 6rem;
    font-weight: 600;
    color: var(--purpura);
    margin-top: 12rem;
}
body.dark header .header-info h2 {
    color: var(--white);
}
body.dark header .header-info h3 {
    color: var(--purpura);
}
body.dark header .header-info p{
    color: rgb(255, 255, 255);

}
header .header-info h3 {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 3.5rem;
    color: var(--purpura-oscuro);
    margin-top: 2rem;
}
header .header-info p {
    width: 70%;
    margin-top: 4rem;
}
header .header-info .btn {
    border: 1px solid var(--purpura);
}
body.dark header .header-info .btn {
    background-color: var(--purpura);
    color: white;
}
body.dark header .header-info .btn:hover {
    background-color: var(--purpura-oscuro);
    border: 1px solid var(--purpura-oscuro);
}
header .header-info .btn:hover {
    color: white;
    background-color: var(--purpura);
    transition: all 300ms ease-in-out;
}
header .profiles {
    width: 100%;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
body.dark header .profiles i{
    color: var(--white);
}
body.dark header .profiles i:hover {
    color: var(--purpura);
}
header .profiles a:hover {
    transform: scale(1.2);
    transition: all 300ms ease-in-out;
}
header .profiles span {
    color: var(--purpura);
    font-size: 2.5rem;
}
header .btn {
    padding: 0.6rem 6rem ;
}




/*- - - - - - A B O U T   M E  - - - - - - */
#aboutme {
    margin: 0 auto;
    margin-top: 4rem;
}
#aboutme .aboutme-box {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
#aboutme .aboutme-img {
    width: 100%;
    max-width: 50%;
    /* min-width: 500px; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#aboutme .aboutme-img img {
    width: 50%;
    margin-right: 2rem;
    filter: drop-shadow(3px 12px 7px #47219e);
}
body.dark #aboutme .aboutme-img img {
    filter: drop-shadow(3px 12px 7px #ffffff);

}
#aboutme .aboutme-info {
    width: auto;
    display: flex;
    justify-content: center;
    background-color: var(--purpura);
    border-radius: 2rem;
    color: white;
    position: relative;
}
#aboutme .aboutme-box p {
    width: 100%;
    text-align: center;
    padding: 0 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
}


/*- - - - - - S K I L L S  - - - - - - */
#skills {
    padding: 4rem 0;
    height: max-content;
    background-color: var(--purpura);
}
.skills-box {
    width: 95%;
    height: auto;
    margin: 0 auto;
    /* position: relative; */
}
#skills .skills-box h1 {
    color: var(--white);
}
.skills-box .skills-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4rem;
    position: relative;
    
}
.skills-box .my-skill {
    width: 25rem;
    height: auto;
    padding: 2rem;
    /* border: 2px solid var(--purpura-oscuro); */
    border-radius: 1rem;
    background-color: var(--purpura);
    margin-bottom: 4rem;
    background: rgb(71,33,158);
background: linear-gradient(90deg, rgba(71,33,158,1) 0%, rgba(113,66,222,1) 40%);
/* position: relative; */
}
.skills-box .wave-content {
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.skills-box .wave-content img {
    width: 100%;
}
.skills-box .my-skill h4 {
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--purpura-oscuro);
    color: var(--white);
}
.skills-box .my-skill ul {
    text-align: center;
    list-style: none;
    padding-top: 2rem;
}
.skills-box .my-skill ul li {
    margin: 1rem 0;
    color: var(--white);
}


/*- - - - - - L E A R N I N G  - - - - - - */
#learning {
    padding: 4rem 0;
}
.learning-box {
    width: 95%;
    margin: 0 auto;
}
.learning-box .learning {
    width: 80%;
    height: auto;
    padding: 2rem 0;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 2rem;
    background-color: var(--purpura-oscuro);
    /* border: 2px solid var(--purpura); */
}
.learning-box .learning .learning-text {
    width: 40%;
    min-width: 25rem;
    text-align: center;
    color: var(--white);
}
.learning-box .learning .learning-text h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--white);
}
.learning-box .learning .learning-text p {
    text-align: center;
    font-weight: lighter;
}
.learning-box .learning  .learning-img {
    width: 100%;
    /* max-width: 50%; */
    flex-basis: 50%;
    position: relative;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.learning-box .learning  .learning-img .logo-img {
    width: 8rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    flex-direction: column;
    text-align: center;
    background-color: var(--white);
    /* border: 2px solid var(--purpura); */
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.507);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.507);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.507);
    position: relative;
}
.learning-box .learning  .learning-img img {
    width: 60%;
    height: auto;
    margin-top: 1rem;
}
.learning-box .learning  .learning-img .logo-img label {
    font-family: var(--font-title);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--purpura);
    position: absolute;
    bottom: 0.1rem;
    left: 0;
    right: 0;
}
.learning-box .learning  .learning-img .now {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.learning-box .learning  .learning-img .now h3 {
    color: rgb(211, 211, 211);
    margin: 0 auto;
    font-weight: lighter;
    font-size: 1.5rem;
    text-transform: uppercase;
}


/*- - - - - - P R O J E C T  - - - - - - */
#project {
    height: auto;
    padding: 4rem 0;
}
#project .project-box {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#project .project-box h1 {
    display: block;
    width: 100%;
}
#project .project-box .project-card {
    width: 38rem;
    height: auto;
    min-height: 66rem;
    margin: 0 auto;
    margin-top: 6rem;
    border-radius: 0.5rem;
    /* box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.43);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.43); */
    text-align: center;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
}
body.dark #project .project-box .project-card {
    background-color: rgba(85, 85, 85, 0.493);
    border-left: 1px solid rgba(185, 185, 185, 0.418);
    background: rgb(71,33,158);
    background: linear-gradient(90deg, rgba(71,33,158,0) 0%, rgba(113,66,222,0.5326505602240896) 2%, rgba(255,255,255,0) 5%, rgba(113,66,222,0) 100%);
}
#project .project-box .project-card .project-img {
    width: 100%;
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;
    position: relative;
}
#project .project-box .project-card .project-img img {
    width: 100%;
}
#project .project-box .project-card .project-img .movil {
width: 30%;
position: absolute;
right: 0;
transform: translateX(50%);
}
#project .project-box .project-card h4 {
    font-size: 2rem;
    margin: 2rem 0;
}
#project .project-box .project-card .code-container span {
    color: var(--white);
    background-color: var(--purpura);
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
}
#project .project-box .project-card p {
    margin-top: 2rem;
    padding: 0 1.5rem;
    text-align: justify;
    line-height: 2.5rem;
    color: var(--purpura-oscuro);
}
body.dark #project .project-box .project-card p {
    color: rgb(218, 218, 218);
    font-weight: 200;
}
#project .project-box .project-card:hover, .logo-img:hover {
    box-shadow: 3px 3px 20px 5px rgba(113, 66, 222);
    -webkit-box-shadow: 3px 0px 20px 5px rgba(113, 66, 222);
    -moz-box-shadow: 3px 3px 20px 5px rgba(113, 66, 222);
    transform: scale(1.03);
    border: none;
    transition: all 300ms ease-in-out;
}
#project .project-card .project-links {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;
    margin-top: 0.5rem;
}
#project .project-card .project-links span a{
    /* font-size: 2.5rem; */
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    background-color: var(--purpura);
    padding: 0.5rem 1.5rem;
    color: var(--purpura);
    color: white;
    transition: all 500ms ease-in-out;
    
}
#project .project-card .project-links span i {
    margin-left: 1rem;
}
#project .project-card .project-links span{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    transition: all 400ms ease-in-out;
}
#project .project-card .project-links span:hover {
    transform: scale(1.04);
}
#project .project-card .project-links .btn-basic {
    background-color: var(--white);
    color: var(--purpura);
    border: 1px solid var(--purpura);
}
/*- - - - F O R M U L A R I O - - - -*/
#formulario {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8rem 0;
}
#formulario title {
    display: block;
    width: 100%;
}
#formulario .formulario__box {
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    gap: 6rem;
    flex-wrap: wrap;
    padding: 4rem;
}
body.dark #formulario .formulario__box {
    background-color: rgba(0, 0, 0, 0.507);;
}
#formulario .formulario__box form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-radius: 1em;
    padding: 2rem;
}
#formulario .formulario__box form .form__container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
    padding: 1rem;
}
#formulario .formulario__box form .form__container .btn-form {
    color: var(--purpura);
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    border: none;
    /* border-bottom: 1px solid grey; */
    /* border: 1px solid var(--purpura); */
    /* border: 1px solid var(--purpura); */
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
    border-left: 1px solid rgba(128, 128, 128, 0.438);
}
body.dark #formulario .formulario__box form .form__container .btn-form {
    background-color: var(--purpura-oscuro);
    color: white;
}
#formulario .formulario__box form .form__container .btn-form:hover {
    background-color: var(--purpura);
    color: var(--white);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
#formulario h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 3rem;
    margin-bottom: .4em;
    color: var(--purpura);
}
.formulario__box form .form__container .form__input {
    font-size: 1.8rem;
    padding: .8em 1em;
    outline: none;
    border: 1px solid var(--purpura);
    border: 1px solid rgba(128, 128, 128, 0.308);
}
body.dark .formulario__box form .form__container .form__input {
    background-color: #343D58;
    border: none;
}
.formulario__box form .form__container .form__input--mensaje {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

#formulario .formulario__box .formulario__image {
    width: 90%;
    height: auto;
}
#formulario .formulario__box .formulario__image img {
    width: 100%;
    height: auto;
}

#formulario .form-contact {
    width: auto;
    height: auto;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 2rem;
    padding: 0 2rem;
}
#formulario .form-contact .form-links {
    color: var(--purpura);
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
}
#formulario .form-contact .form-links .icon-form {
    font-size: 2.5rem;
}
body.dark #formulario .form-contact .form-links .icon-form  {
    color: white;
}
#formulario .form-contact .form-links .data-form {
    display: flex;
    flex-direction: column;
}
#formulario .form-contact .form-links .data-form span {
    color: gray;
    font-size: 1.4rem;
}
#formulario .form-contact .form-links .data-form a {
    text-decoration: none;
    list-style: none;
    color: var(--purpura);
}
#formulario .form-contact .form-links .data-form a:hover {
    color: blue;
}



/*- - - F O O T E R - - - */

footer {
    width: 100%;
    height: 10rem;
    background-color: var(--purpura-oscuro);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer .footer-box h4{
    color: rgb(255, 255, 255);
    font-family: var(--font-title);

}
footer .footer-box p {
    color: rgb(161, 161, 161);
    font-family: var(--font-title);
    font-weight: lighter;
}

@media (max-width:500px) {
    #formulario .formulario__box {
        padding: 1rem;
    }
    #formulario .form-contact {
        width: 100%;
        flex-wrap: wrap;
    }
    #formulario .formulario__box form {
        padding: 0;
    }
    .learning-box .learning .learning-text p {
        padding: 0 0rem;
    }
    #formulario {
        overflow: hidden;
    }
    .learning-box .learning {
        width: auto;
    }
    .learning-box .learning  .learning-img {
        flex-basis: 100%;
    }
    #formulario .form-contact .form-links {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .formulario__box form .form__container .form__input {
        width: 100%;
    }
}
@media (max-width:800px) {
    nav .nav-botones {
    display: none;
}
#aboutme .aboutme-img img {
    width: 100%;
}
}
@media (max-width:360px) {
    header .header-info h2 {
        font-size: 4.5rem;
        /* color: red; */
    }
    header .header-info h3 {
        font-size: 3rem;
    }
    header .header-info p {
        width: 100%;
    }
    #aboutme .aboutme-img {
        max-width: none;
    }
    #aboutme .aboutme-img img {
        width: 100%;
    }
}